.date-from{
    margin-right: 0.5em;
}

.date-form{
    margin-left: 1.5em;
}

.full {
    width: 100%;
}

.no-pad td {
    padding: 0;
}
.no-pad .label {
    border-radius: 0;
}

span.enough-person{
    background: #23ff4b;
    color: #0a0a0a;
}
span.few-person{
    background: #ff22f0;
    color: #0a0a0a;
}